@import "./settings.colors";

.postdetail {
    background-color: $white;
    padding: 10px;
}

.postdetail-ariane {
    font-size: 10px;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 5px;
    
    span {
        &::after {
            margin: 0 5px;
            content: ">";
            text-decoration: none;
        }
        
        &:last-child::after {
            display: none;
        }
    }
}

.postdetail-content {
    padding: 10px 0;
    
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    p {
        background-color: $background-text;
        padding: 10px;
    }
}

.postdetail-footer {
    text-align: center;
    font-size: 12px;
}
